/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@700&display=swap');

/* Styles for the body */

body {
	font-family: 'Merriweather', serif;
	color: #2d2d42;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #10589b;
	color: white; 
}

.resume-main {
	background-color: #18e7d6;
}

.resume-aside {
	background-color: #4bf0a3;
	color: black;
} 

/* Styles for lists in the document */

.cool-text {
	color: #2b4383;

text-align: left;

font-style: bold;

}

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #2b4383;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
